beautifulsoup4
boto3
bs4
certifi
charset-normalizer
opencv-python
docx
dotenv
ffmpeg-python
Flask
idna
Image
numpy
opencv-python
pandas
Pillow
pytesseract
PyYAML
requests
scikit-image
scikit-learn
tqdm
typing
yt-dlp
asyncio
dotenv
google-cloud-vision
google-genai